<div class="flex flex-col">

  <div class="text-block flex justify-center items-center h-svh flex-col">
    <p>PORTFOLIO</p>
    <p class=" ">Nicolas Rayon Dev.</p>
  </div>

  <section #fadeInDemo class="flex flex-col">
    <div class=" flex flex-col justify-center pb-32 items-center">
      <h2>Fade in Animations</h2>
      <p>Elementos que aparecen gradualmente al hacer scroll</p>
    </div>

    <div class="flex justify-center w-full p-32 gap-5">
      <div class="fade-element card-demo flex-grow">
        <h3>Primera tarjeta</h3>
        <p>Esta tajeta aparece con un fade suave desde abajo</p>
      </div>
      <div class="fade-element card-demo flex-grow">
        <h3>Segunda Tarjeta</h3>
        <p>Con un pequeno delay para crear un efecto escalonado</p>
      </div>
      <div class="fade-element card-demo flex-grow">
        <h3>Tercera Tarjeta</h3>
        <p>El delay se acumuila creando una animacion fluida</p>
      </div>
    </div>
  </section>
</div>

<div id="custom-cursor"></div>
